<div class="search-container">
  <div>
    <input #characterInput type="text" placeholder="Buscar Amiibo" class="search-input">
    <button class="search-btn" (click)="searchAmiibo(characterInput.value)">Buscar</button>
  </div>
  <div>
    <button class="filter-btn" (click)="showFilters()">{{filtersButtonText}}</button>
    <div *ngIf="showFiltersInScreen" class="filters">
      <ul>
        <li><input [(ngModel)]="nameInput" type="text" placeholder="Nombre"></li>
        <li>
          <select [(ngModel)]="typeInput">
            <option value="">Todos los tipos</option>
            <option *ngFor="let type of typesOptions" [value]="type">{{type}}</option>
          </select>
        </li>
        <li>
          <select [(ngModel)]="gameSeriesInput">
            <option value="">Todas las sagas</option>
            <option *ngFor="let gameSeries of gameSeriesOptions" [value]="gameSeries">{{gameSeries}}</option>
          </select>
        </li>
        <li>
          <select [(ngModel)]="amiiboSeriesInput">
            <option value="">Todas las series</option>
            <option *ngFor="let amiiboSeries of amiiboSeriesOptions" [value]="amiiboSeries">{{amiiboSeries}}</option>
          </select>
        </li>
        <li>
          <span>Amiibos/página: </span>
          <select (change)="changeAmiibosPerPage($event)">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="amiibo-container">
  <app-amiibo *ngFor="let amiibo of amiibosInPage" class="amiibo-card" [amiibo]="amiibo" [amiibosFavoritos]="amiibosFavoritos"></app-amiibo>
</div>

<div *ngIf="showButtons" class="pageNavigator">
  <div class="leftButtons">
    <button (click)="firstPage()" [disabled]="disableButtonsPrevious"><<</button>
    <button (click)="previousPage()" [disabled]="disableButtonsPrevious"><</button>
  </div>
  <div class="rightButtons">
    <button (click)="nextPage()" [disabled]="disableButtonsNext">></button>
    <button (click)="lastPage()" [disabled]="disableButtonsNext">>></button>
  </div>
</div>
