<div class="contenedorDetalles">
  <div class="amiibo-img">
    <img
      [src]="amiibo.image"
      [alt]="'Imagen pequeña de '+amiibo.name"
      (mouseenter)="mostrarPopup($event)"
    />
  </div>
  <p class="detalle"><strong>Nombre:</strong> {{amiibo.name}}</p>
  <p class="detalle"><strong>Personaje:</strong> {{amiibo.character}}</p>
  <p class="detalle"><strong>Saga:</strong> {{amiibo.gameSeries}}</p>
  <p class="detalle"><strong>Serie amiibo:</strong> {{amiibo.amiiboSeries}}</p>
  <p class="detalle"><strong>Tipo:</strong> {{amiibo.type}}</p>
  <div class="fechas">
    <span>Fechas de salida:</span>
    <ul>
      <li *ngFor="let value of amiibo.release | keyvalue; let i = index">
        {{value.key}}: {{value.value}}
      </li>
    </ul>
  </div>
</div>

<!-- Ventana emergente para cuando paso el ratón por encima de la imagen del amiibo de arriba -->
<div class="popup-imagen-contenedor" *ngIf="mostrarImagen">
  <div class="popup-imagen-contenido" [ngStyle]="{ top: posicionY + 'px', left: posicionX + 'px' }" (mouseleave)="ocultarPopup()">
    <img [src]="amiibo.image" [alt]="'Imagen ampliada de '+amiibo.name" />
    <p>{{amiibo.image}}</p>
  </div>
</div>
